In [8]:
import pandas as pd
df = pd.read_csv("VasaClean_pred.csv")
df

                                                   Text  pred_sentiment
0     If you are ever in Stockholm, these two museum...               0
1     Really interesting and so well organised with ...               1
2     We planned 2 hours for Vasa but it was so inte...               0
3     It was a very nice experience being there.The ...               1
4     Travelling with my 11 year old and wanted to d...               0
...                                                 ...             ...
2475  This restored shipwreck is absolutely remarkab...               1
2476  This is dedicated to the Vasa only and is very...               1
2477  The has to be seen to be believed. It’s massiv...               1
2478  We were in as part of a Scandinavia tour and t...               1
2479  This was amazing, and the story of the is very...               1

[2480 rows x 2 columns]

In [58]:
df2 = pd.read_csv("/Users/maxrojas/Desktop/BI/3period/datasets/VasaClean.csv")
df2

,Unnamed: 0,Text,Title,Rating,DateOfExperience,DateOfReview,Username,UserLocation,UserContribution,UserLikes,normalized_tweet,grams
0,0,"If you are ever in Stockholm, these two museum...",Vasa museum and Nordic museum,50,March 2020,Mar 22,Travelin' Woman,NaN,5,NaN,"['ever', 'stockholm', 'two', 'museum', 'right'...","['ever stockholm', 'stockholm two', 'two museu..."
1,1,Really interesting and so well organised with ...,Well worth a visit.,50,March 2020,Mar 18,GoldfinchSuffolk,Suffolk,21,10,"['well', 'organised', 'enough', 'information',...","['well organised', 'organised enough', 'enough..."
2,2,We planned 2 hours for Vasa but it was so inte...,Awesome swedish history,50,February 2020,Mar 18,Teodora M,"Brasov, Romania",15,NaN,"['hour', 'vas', 'interesting', 'forgot', 'leav...","['hour vas', 'vas interesting', 'interesting f..."
3,3,It was a very nice experience being there.The ...,Vasa Museum-Something Special,40,March 2020,Mar 14,Patsa,NaN,7,NaN,"['nice', 'experience', 'huge', 'astonishing', ...","['nice experience', 'experience huge', 'huge a..."
4,4,Travelling with my 11 year old and wanted to d...,Very interesting,40,March 2020,Mar 14,Gavin F,"Aberdeen, United Kingdom",91,10,"['year', 'old', 'wanted', 'something', 'ticked...","['year old', 'old wanted', 'wanted something',..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2475,2475,This restored shipwreck is absolutely remarkab...,Should not be missed.,50,September 2018,Sep 2018,alan f,"Los Angeles, California",21,4,"['shipwreck', 'absolutely', 'remarkable', 'wor...","['shipwreck absolutely', 'absolutely remarkabl..."
2476,2476,This is dedicated to the Vasa only and is very...,history kept alive,40,August 2018,Sep 2018,STEVE,"Lugano, Switzerland",321,47,"['dedicated', 'vas', 'well', 'organized', 'wel...","['dedicated vas', 'vas well', 'well organized'..."
2477,2477,The has to be seen to be believed. It’s massiv...,Fantastic,50,September 2018,Sep 2018,Penny S,"Canberra, Australia",76,13,"['seen', 'believed', 'massive', 'detailed', 'w...","['seen believed', 'believed massive', 'massive..."
2478,2478,We were in as part of a Scandinavia tour and t...,Glad we didn't skip this!,50,August 2018,Sep 2018,misc22016,"Tigard, Oregon",12,1,"['part', 'scandinavia', 'tour', 'vas', 'made',...","['part scandinavia', 'scandinavia tour', 'tour..."
2479,2479,"This was amazing, and the story of the is very...",So cool!,50,September 2018,Sep 2018,miichelle139,"McKinney, Texas",34,6,"['amazing', 'story', 'interesting', 'guided', ...","['amazing story', 'story interesting', 'intere..."

In [59]:
df_merge_col = pd.merge(df, df2, on='Text')
df_merge_col = df_merge_col.drop(columns="Unnamed: 0")
pos = df_merge_col[df_merge_col.pred_sentiment == 1]
neg = df_merge_col[df_merge_col.pred_sentiment == 0]

pos.to_csv('VasaPosFinal.csv')
neg.to_csv('VasaNegFinal.csv')

In [3]:
df[['Text','pred_sentiment']]

                                                   Text  pred_sentiment
0     If you are ever in Stockholm, these two museum...               0
1     Really interesting and so well organised with ...               1
2     We planned 2 hours for Vasa but it was so inte...               0
3     It was a very nice experience being there.The ...               1
4     Travelling with my 11 year old and wanted to d...               0
...                                                 ...             ...
2475  This restored shipwreck is absolutely remarkab...               1
2476  This is dedicated to the Vasa only and is very...               1
2477  The has to be seen to be believed. It’s massiv...               1
2478  We were in as part of a Scandinavia tour and t...               1
2479  This was amazing, and the story of the is very...               1

[2480 rows x 2 columns]

In [27]:
from nltk.tokenize import word_tokenize
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.probability import FreqDist
from nltk.classify import NaiveBayesClassifier
import re
from nltk.corpus import twitter_samples
from itertools import chain
from sklearn.metrics import classification_report, confusion_matrix

# df = pd.read_csv("data/sentiment140/training.1600000.processed.noemoticon.csv", engine='python')

# tokenize text
def tokenize(text):
    return nltk.word_tokenize(text)

# remove punctuations apostrophies and special characters to ensure small/ relevant vocab
def clean_text(text):
    text = text.lower()
    text = re.sub(r"'s", "", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"I'm", "I am", text)
    text = re.sub(r" m ", " am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r"http", "", text)
    text = re.sub(r"[^A-Za-z]", " ", text)
    return text

# remove stopwords to reduce vocabulary size
def remove_stopwords(text):
    # filter out stop words
    stop_words = set(stopwords.words('english'))
    return [word for word in text if not word in stop_words]

# stem text to ensure different variations of same words are treated in a similar manner
def stemmer(text):
    stemm = nltk.stem.PorterStemmer()
    return  [stemm.stem(word) for word in text]

# stem text to ensure different variations of same words are treated in a similar manner
def lemmatize(text):
    lem = nltk.stem.WordNetLemmatizer()
    return  [lem.lemmatize(word) for word in text]

# pipeline to work on the text
def text_pipeline(text):
    text = clean_text(text)
    text = tokenize(text)
    text = remove_stopwords(text)
    text = stemmer(text)
    text = lemmatize(text)
    return text

# get vocabulary for a given training data
def get_vocabulary(freq_dist, cutoff=None):
    if cutoff == None:
        return [key for key in freq_dist.keys()]
    else:
        d = []
        for k in freq_dist.keys():
            if freq_dist[k] > cutoff:
                d.append(k)
        return d

# process text and get features using the vocabulary indicating presence or absence of words in text
def get_features(text, vocab):
    text_processed = text_pipeline(text)
    return {word: (word in text_processed) for word in vocab}



if __name__ == '__main__':
    # load training data
    positive_tweets = pd.DataFrame(twitter_samples.strings('positive_tweets.json'), columns=['text'])
    negative_tweets = pd.DataFrame(twitter_samples.strings('negative_tweets.json'), columns=['text'])

    # assign label positive as 1 and negative as 0
    positive_tweets['label'] = 1
    negative_tweets['label'] = 0

    # combine to get the complete training dataset
    df = pd.concat([positive_tweets, negative_tweets], axis=0, sort=False)

    # get frequency distribution o words for the entire training data
    word_feat = FreqDist(chain(*[text_pipeline(text) for text in df['text'].values]))

    # put only words with freq > 5 in the vocabulary
    vocabulary = get_vocabulary(word_feat, 5)
    print("Length of vocabulary: ", len(vocabulary))

    # get features for each sentence in the dataset
    df['feat'] = df['text'].apply(lambda x: get_features(x, vocabulary))

    # get tuple using dictionary and label
    df['train_data']= df[['feat', 'label']].apply(tuple, axis=1)

    # train classifier
    df['pred_sentiment'] = 0
    classifier = NaiveBayesClassifier.train(df['train_data'].values)
    df['pred_sentiment'] = df['feat'].apply(classifier.classify)

    print("10 most informative features: ")
    print(classifier.show_most_informative_features(10))

    df[['text', 'pred_sentiment']].to_csv("check.csv", index=False)
    print("Training completed")

    print("confusion matrix")
    print(confusion_matrix(df['label'], df['pred_sentiment']))

    print("Classification report")
    print(classification_report(df['label'], df['pred_sentiment']))

    # iterate through filenames
    test_filenames = ['AbbaClean.csv', 'CityHallClean.csv', 'DjugardenClean.csv', 'GamlaStanClean.csv', 'VasaClean.csv']


    for filename in test_filenames:
        print("File being processed: ", filename)
        # load filename
        data = pd.read_csv(filename)
        # get features for each line in the test dataset
        data['feat'] = data['Text'].apply(lambda x: get_features(x, vocabulary))
        # store predicted sentiment and save as a csv file
        data['pred_sentiment'] = 0
        data['pred_sentiment'] = data['feat'].apply(classifier.classify)
        print(data['pred_sentiment'].value_counts())
        print(data.shape)
        data[['Text', 'pred_sentiment']].to_csv(filename.split(".")[0] + "_pred.csv", index = False)

Length of vocabulary:  1480
10 most informative features:
Most Informative Features
                      iq = True                1 : 0      =     41.7 : 1.0
                     bam = True                1 : 0      =     29.7 : 1.0
                      wi = True                0 : 1      =     25.0 : 1.0
                     sad = True                0 : 1      =     21.9 : 1.0
                   horan = True                1 : 0      =     17.8 : 1.0
                     ugh = True                0 : 1      =     17.7 : 1.0
                    glad = True                1 : 0      =     17.4 : 1.0
               goodnight = True                1 : 0      =     16.3 : 1.0
                opportun = True                1 : 0      =     15.7 : 1.0
                   arriv = True                1 : 0      =     15.0 : 1.0
None
Training completed
confusion matrix
[[4270  730]
 [1331 3669]]
Classification report
              precision    recall  f1-score   support

           0       0.76      0.85      0.81      5000
           1       0.83      0.73      0.78      5000

    accuracy                           0.79     10000
   macro avg       0.80      0.79      0.79     10000
weighted avg       0.80      0.79      0.79     10000

File being processed:  AbbaClean.csv
1    3705
0     848
Name: pred_sentiment, dtype: int64
(4553, 12)
File being processed:  CityHallClean.csv
1    1582
0     235
Name: pred_sentiment, dtype: int64
(1817, 14)
File being processed:  DjugardenClean.csv
1    890
0    132
Name: pred_sentiment, dtype: int64
(1022, 12)
File being processed:  GamlaStanClean.csv
1    5529
0    1394
Name: pred_sentiment, dtype: int64
(6923, 12)
File being processed:  VasaClean.csv
1    2049
0     431
Name: pred_sentiment, dtype: int64
(2480, 14)